<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>My Meal Prep</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-dark bg-dark">
            <!-- Wrap navbar in a container -->
            <div class="container">
                <!-- Nav Title/Logo -->
                <div class="nav-header">
                    <a class="navbar-brand" href="#">DWymer</a>
                </div>
                <!-- Main Nav links -->
                <div class="nav-links navbar-expand-lg">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link active" href="/food">Food</a></li>
                        <li class="nav-item"><a class="nav-link" href="/recipes">Recipes</a></li>
                    </ul>
                </div>
                <!-- User specific nav links -->
                <div class="nav-user navbar-expand-lg">
                    <ul class="navbar-nav">
                        <% if (typeof user !== 'undefined') { %>
                            <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
                            <li class="nav-item">
                                <form action="/logout" method="post">
                                    <button class="logout btn btn-dark" type="submit">Sign out</button>
                                </form>
                            </li>
                        <% } else { %>
                            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
            </div>
            <div class="food">
                <table class="table table-light table-hover mt-5" id="food-list">
                    <thead><h1 class="text-center">Food Page</h1></thead>
                    <tbody>
                        <!-- Create a row for each food Item -->
                        <% allFood.forEach((food) => { %>
                            <tr>
                                <td><%= food.name %></td>
                                <td>Per <%= food.measurement%> - </td>
                                <td>Cals: <%= food.calories %> </td>
                                <td>Carbs(g): <%= food.carbohydrates%></td>
                                <td>Fat(g): <%= food.fat %></td>
                                <td>Protein(g): <%= food.protein %></td>
                                <!-- Passed through recipeID as id -->
                                <% if (typeof recipeid !== 'undefined') { %>
                                <!-- Created a href to send through the id of the selected food item to the url to use in the SelecetedFood page  -->
                                <td>
                                    <a class="btn btn-secondary" href="/selectIngredient/recipe=<%= recipeid %>&food=<%= food.id %>" > View</a>
                                </td>
                                <% } else { %>
                                <!--  Created a href to send through the id of the selected food item to the url to use in the SelecetedFood page  -->
                                <td>
                                    <% if (food.isPrivate == '0') { %>
                                    <a class="btn btn-dark" href="/viewFood/food=<%= food.id %>" > View</a>
                                    <% } else { %>
                                    <a class="btn btn-secondary" href="/viewFood/food=<%= food.id %>" > View</a>
                                    <% } %>
                                </td>
                                <% } %>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Bootstrap CSS only-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
